.navbar {
    background: #1F4E5F;  
}

body {
    background: #F4F7F7;
}

.about-content {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.about-text {
    max-width: 70vw;
    margin:auto;
}

.image-container {
    overflow: hidden;
}

.about-image {
    max-height: 40vh;
    max-width: 70vw;
    display: block;
    margin: auto;
    width: auto;
    height: auto;
}

.nav-option {
    color: #F4F7F7 !important;
    font-size: 18px;
    padding-right: 50px !important;
    
}

.nav-option:hover {
    color: #AACFD0 !important;
    
}

.nav-option:hover .circle {
    background: #AACFD0 !important;
    
}

img {
}

.portfolio-image {
    background-color: #79A8A9;
    height: 250px;
    object-fit: scale-down;
    border: 10px solid #79A8A9;
    border-radius: 1%;
}
    
h1 {
    color: #79A8A9;
    font-size: 24px;
    margin-top: 0px;
}

p {
    color: #4A4A4A;
}

.portfolio-row {
}

.portfolio-column {
    padding: 30px;
    margin-bottom: 5%;
}

.portfolio-column:hover {
    background-color: #AACFD0;
    border-radius: 1%;
}

.portfolio-column:active {
    background-color: #F4F7F7;
}

.circle-container {
    position:relative;
    left: 10px;
}

.circle {
	width: 10px;
	height: 10px;
	background: #F4F7F7;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin-bottom: 1px;
}

.invisible-circle {
	width: 10px;
	height: 10px;
	background: #1F4E5F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin-bottom: 1px;
}

.nav-text {
    padding-left: 10px;
}

.icon-bar {
    background-color: #F4F7F7 !important;
}

.navbar-toggle {
    border-width: 2px;
    border-color: #F4F7F7 !important;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    border-color: #AACFD0 !important;
    background-color: #1F4E5F !important;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: #AACFD0 !important;
}
